@page{
    margin: 0 !important;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15mm 10mm 15mm 10mm; 
    display: grid;
    grid-template-columns: 280px 1fr;
}

.photo{
    width: 160px;
    border-radius: 50%;
    box-shadow: 0px 0px 34px 1px rgba(0,0,0,0.75);;
}

.sidebarInfo > ul {
    padding: 0;
    list-style: none;
}

.sidebarInfo > ul > li {
    font-size: 14px;
    line-height: 1.5;
}

.sidebarInfo > h1 {
    color: #3285a8;
}

.profileInfo > p {
    font-size: 14px;
}

.profileInfo > h1 {
    color: #3285a8;
}

.profileInfo > section > h1 {
    color: #808080;
    font-size: 16px;
    margin-top: 0;
}

.experienceInfo > section > dl > dt{
    font-weight: 600;
    font-size: 14px;
    margin-top: 8px;
    color:#696969;
}

.experienceInfo >section > dl > dd{
    font-size:12px;
    margin-left: 30px;
    margin-top: 8px;
}

.experienceInfo > h1{
    color: #3285a8;
    margin-bottom: 0;
}

.content{
    display: flex;
    align-content: center;
    flex-flow: column;
    margin-left: 30px;
}

.sidebar{
    display: flex;
    flex-flow: column wrap;
    border-right: 1px solid #3285a8;
}

.title > h2{
    font-size: 14px;
    color: #808080;
    margin-top: 0;
}

.title > h1{
    font-size: 30px;
    margin-bottom: 0;
    /* margin-top: 48px; */
}